EXPO_PUBLIC_BASE_URL=https://equran.id/api/v2
EXPO_PUBLIC_GEMINI_KEY=
EXPO_PUBLIC_GEMINI_MODEL=gemini-3-flash-preview
EXPO_PUBLIC_ADMOB_ANDROID_APP_ID=ca-app-pub-3940256099942544~3347511713
EXPO_PUBLIC_ADMOB_IOS_APP_ID=ca-app-pub-3940256099942544~1458002511
EXPO_PUBLIC_ADMOB_REWARDED_ID=ca-app-pub-3940256099942544/5224354917
# Gunakan ADMOB, bukan ADMOD.
